# Системные файлы macOS
.DS_Store

# Скомпилированные бинарники Go (исполняемые файлы)
/To_do
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Файлы локальной базы данных SQLite
*.db
*.db-journal
*.db-shm
*.db-wal

# Локальные конфиги или переменные окружения (если появятся)
.env